.product{
    width: 80%;
    margin: 0px auto;
}

.shop__sidebar__search{
    form{
        input{
            border: 0;
            outline: none;
            background-color: none;
        }
        button{
            color: #b7b7b7;
            font-size: 15px;
            border: 0;
            outline: none;
            background: transparent;
            position: absolute;
            margin: 0px auto;
            height: 4%;
        }
    }
    border: 1px solid;
}

.shop__sidebar__accordion{
    
}

.product_left{
    padding-left: 2%;
    .nice-scroll {
        li{
           list-style: none;
            a{
                color: black; 
            } 
        }
    }
    
    .shop__sidebar__brand{
        ul{
            li{
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 800px){
    .shop{
        display:block;
        padding: 2%;
        .row{
            .product_left{
                .shop__sidebar__accordion{
                    padding: 2%;
                } 
            }
        }    
    }
}
